
@model IEnumerable<FinalProject.Models.ViewModels.RoleViewModel>

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, FinalPRoject

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb bg-transparent">
    <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">خانه</a></li>
    <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Admin" asp-action="Index"> پنل ادمین</a></li>
    <li class="breadcrumb-item active"> مدیریت نقش‌ها</li>
</ol>

<div class="row">
    @Html.Partial("_AdminPanel")
    <div class="col-md-9 col-sm-auto">
        <div class="card bg-info">
            <div class="card-header text-white" >
                <h5>لیست نقش‌ها</h5>
            </div>
            <div class="card-body">
                <div class="btn-group">

                    <a class="btn btn-dark marginButton" id="btnAddRole" asp-action="AddEdit">
                        <i class="fas fa-plus"></i>
                        افزودن نقش جدید
                    </a>

                </div>

                <div></div>

                <table class="table table-striped table-bordered table-hover table-dark ">
                    <thead>
                        <tr>
                            <th class="text-center" scope="col">نام نقش</th>
                            <th class="text-center" scope="col">توضیحات</th>
                            <th class="text-center" scope="col">تعداد کاربران</th>
                            <th class="text-center" scope="col">عملیات</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="text-center">@item.Name</td>
                                <td class="text-center">@item.Description</td>
                                <td class="text-center">@item.NumberOfUsers</td>
                                <td class="text-center">
                                    <a class="btn btn-info" id="btnEditRole" asp-action="AddEdit" asp-route-id="@item.Id">
                                        <i class="glyphicon glyphicon-pencil">ویرایش</i>
                                    </a>
                                    @if (item.NumberOfUsers == 0)
                                    {
                                        <a class="btn btn-danger" id="btnDeleteUser" asp-action="Delete" asp-route-id="@item.Id">
                                            <i class="glyphicon glyphicon-trash">حذف</i>
                                        </a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>

            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/js/adminpanel.js"></script>
}