
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    @Html.Partial("_UserPanel")
    <div class="col-md-10">

        <div class="card bg-transparent">
            <div class="card-header ">
                <div class="row justify-content-center">
                    <div class="col-md-3" id="userCount">
                        <h4 class="p-1 m-1"><i class="fas fa-users"></i> تعداد کاربران</h4>
                        <p class="p-1 m-1" style="font-size: 22px;">@ViewBag.userCount نفر</p>
                    </div>
                    <div class="col-md-3" id="productCount">
                        <h4 class="p-1 m-1"><i class="fas fa-box"></i> تعداد کالاها</h4>
                        <p class="p-1 m-1" style="font-size: 22px;">@ViewBag.ProductCount عدد</p>
                    </div>
                    <div class="col-md-4" id="productCount">
                        <h4 class="p-1 m-1"><i class="far fa-gem"></i> تعداد پیشنهادات شگفت‌انگیز</h4>
                        <p class="p-1 m-1" style="font-size: 22px;">@ViewBag.PromotionCount عدد</p>
                    </div>
                    <div class="col-md-5" id="laptopCount">
                        <h4 class="p-1 m-1"><i class="fas fa-laptop"></i> تعداد لپ‌تاپ‌های موجود</h4>
                        <p class="p-1 m-1" style="font-size: 22px;">@ViewBag.LaptopCount دستگاه</p>
                    </div>
                    <div class="col-md-5" id="cellphoneCount">
                        <h4 class="p-1 m-1"><i class="fas fa-mobile-alt"></i> تعداد گوشی‌های موبایل موجود</h4>
                        <p class="p-1 m-1" style="font-size: 22px;">@ViewBag.CellphoneCount دستگاه</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/js/adminpanel.js"></script>
}

