@model FinalProject.Models.MultiModels

@using Microsoft.AspNetCore.Identity
@using FinalProject.Models

@inject SignInManager<ApplicationUser> signInManager;
@inject UserManager<ApplicationUser> userManager;

@{
    ViewData["Title"] = "Home Page";
}

@section basket{
    @Html.Partial("_Basket")
}

<div class="row">

    <div class="col-md-3">
        @Html.Partial("_RecentNewsPartial", Model.LastNews)
    </div>

    <div class="col-md-9">
        <div class="row">
            <div class="col-md-12">
                @Html.Partial("_Promotion", Model.PromotionsListViewModel)
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.Partial("_TopSelling", Model.TopSellings)
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.Partial("_MostViewd", Model.MostViewd)
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.Partial("_Cheapest", Model.Cheapest)
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.Partial("_TopLaptops", Model.TopLaptop)
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.Partial("_TopCellphones", Model.TopCellphone)
            </div>
        </div>
    </div>

</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(document).ready(function () {
        $(".owl-carousel").owlCarousel();
    });
    $('.owl-carousel').owlCarousel({
        loop: true,
        margin: 10,
        nav: true,
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 3
            },
            1000: {
                items: 5
            }
        }
    });
</script>
</div>

