@model IEnumerable<FinalProject.Areas.User.Models.AddressViewModel>

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, LibraryProject

@{
    ViewData["Title"] = "آدرس";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section basket{
    @Html.Partial("_Basket")
}

<div class="row">
    @Html.Partial("_UserPanel")

    <div class="col-md-9 col-sm-auto">
        <div class="card bg-info">

            <div class="card-header text-white">
                <h5>لیست آدرس‌‌ها</h5>
            </div>
            <div class="card-body">
                @if (Model.SingleOrDefault() == null)
                {
                    <div class="btn-group">
                        <a class="btn btn-dark marginButton" asp-action="Add">
                            افزودن آدرس جدید
                            <i class="fas fa-plus"></i>
                        </a>
                    </div>
                }
                <table class="table table-striped table-bordered table-hover table-dark ">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.FullAddress)</th>
                            <th>@Html.DisplayNameFor(model => model.Postcode)</th>
                            <th>عملیات</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="text-center">@item.FullAddress</td>
                                <td class="text-center">@item.Postcode</td>
                                <td class="text-center" style="max-width: 100px;">
                                    <a class="btn btn-info" asp-action="Add" asp-route-id="@item.AddressId">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>


@section scripts{
    <script src="~/js/adminpanel.js"></script>
}
